Añadir comentario:
<br>
<form method="post" action="/quizes/<%= quizId %>/comments" >
	<label for="comment" class="rem">Comentario:</label>
	<input type="text" id="comment" name="comment[texto]" placeholder="Comentario..."/> <p>
	<br>
	<input type="submit" value="Guardar">
</form>